<div class="sidebar" id="shop">
	<ul>
		<% @grids.each do |grid| %>
			<% if grid.slug == "all" %>
				<li><a data-category="all" href="/"><%= grid.title %></a></li>
			<% else %>
				<li><a data-category="<%= grid.slug %>" href="/categories/<%= grid.slug %>"><%= grid.title %></a></li>
			<% end %>
		<% end %>
	</ul>
</div>
