<div class="sidebar" id="size-chart">
	<div class="close"></div>
	<table>
		<thead>
			<tr><td colspan="6"><h3>Women's clothing use US sizing</h3></td></tr>
		</thead>
		<tbody>
			<tr>
				<th></th>
				<th>XXS</th>
				<th>XS</th>
				<th>S</th>
				<th>M</th>
				<th>L</th>
			</tr>
			<tr>
				<th>US</th>
				<td>2</td>
				<td>4</td>
				<td>6</td>
				<td>8</td>
				<td>10</td>
			</tr>
			<tr>
				<th>UK</th>
				<td>6</td>
				<td>8</td>
				<td>10</td>
				<td>12</td>
				<td>14</td>
			</tr>
			<tr>
				<th>IT</th>
				<td>28</td>
				<td>30</td>
				<td>32</td>
				<td>34</td>
				<td>36</td>
			</tr>
			<tr>
				<th>FR</th>
				<td>30</td>
				<td>32</td>
				<td>34</td>
				<td>36</td>
				<td>38</td>
			</tr>
			<tr>
				<th>AUS</th>
				<td>4</td>
				<td>6</td>
				<td>8</td>
				<td>10</td>
				<td>12</td>
			</tr>
			<tr>
				<th>JAP</th>
				<td>3</td>
				<td>5</td>
				<td>7</td>
				<td>9</td>
				<td>11</td>
			</tr>
		</tbody>
	</table>
</div>
