<div id="landing">
  <% if Rails.application.config.ended %>
    Contest ended
  <% else %>
    <h1>Bill Blass:  the first American designer brand, est. 1970</h1>
    <p>Be the first to get a sneak peek of Bill Blass ready-to-wear, handbags, shoes and more before the November 2<sup>nd</sup> launch.<br><br>
    Enter for a chance to win $3000 of Bill Blass product.</p>
    <%= form_for @user, :url => { :action => "create" } do |f| %>
      <%= f.text_field :email, :placeholder => "Enter your email", :class => "email" %>
      <input class="submit" name="commit" type="submit" value="Submit" />
    <% end %>
  <% end %>
</div>
