<% @bodyId = "terms" %>
<div class="terms">
  **NO PURCHASE IS NECESSARY TO ENTER OR WIN.<br>A PURCHASE DOES NOT INCREASE THE CHANCES OF WINNING.<br>
  <br>
  <ol>
    <li>Eligibility
      <p>Sweepstakes (the “Sweepstakes”) is open only to those who sign up at the online sweepstakes page and who are 18 as of the date of entry. The sweepstakes is only open to legal residents of the United States and is void where prohibited by law. Employees of Bill Blass Group LLC (alternatively referred to as “Bill Blass” and the “Sponsor”) its affiliates, subsidiaries, advertising and promotion agencies, suppliers and their immediate family members and/or those living in the same household of each are not eligible to participate in the Sweepstakes. The Sweepstakes is subject to all applicable federal, state and local laws and regulations. Void where prohibited.</p>
    </li>
    <li>Agreement to Rules
      <p>By participating, you agree to be fully unconditionally bound by these Rules, and you represent and warrant that you meet the eligibility requirements set forth herein. In addition, you agree to accept the decisions of Bill Blass, as final and binding as it relates to the content. The Sweepstakes is subject to all applicable federal, state and local laws.</p>
    </li>
    <li>Sweepstakes Period
      <p>Entries will be accepted online starting on or about October 19, 2015 and ending October 27, 2015. All online entries must be received by October 27, 2015 at 11:59PM EST.</p>
    </li>
    <li>How to Enter
      <p>To enter the Sweepstakes you must submit an entry using the online form provided on the Sweepstakes site. The entry must fulfill all sweepstakes requirements, as specified, to be eligible to win a prize. Entries that are not complete or do not adhere to the rules or specifications may be disqualified at the sole discretion of Bill Blass. You may enter only once and you must fill in the information requested. You may not enter more times than indicated by using multiple email addresses, identities or devices in an attempt to circumvent the rules. If you use fraudulent methods or otherwise attempt to circumvent the rules your submission may be removed from eligibility at the sole discretion of Bill Blass.</p>
    </li>
    <li>Prizes
      <p>A single winner will receive up to $3000 (valued at manufacturers suggested retail prices) of Bill Blass product. Actual/appraised value may differ at time of prize award. The Sponsor in its sole discretion shall determine the specific items that will comprise the prize. No cash or other prize substitution shall be permitted without Sponsor’s consent in its sole discretion. The prize is personal to the winner and is nontransferable or otherwise assignable. Any and all prize related expenses, including without limitation any and all federal, state, and/or local taxes shall be the sole responsibility of the winner. Acceptance of prize constitutes permission for Bill Blass to use winner's name, likeness, and entry for purposes of advertising and trade without further compensation, unless prohibited by law.</p>
    </li>
    <li>
      Odds
      <p>The odds of winning depend on the number of eligible entries received.</p>
    </li>
    <li>Winner selection and notification
      <p>Winners of the Sweepstakes will be selected in a random drawing under the supervision of the Sponsor. Winners will be notified via email to the email address they entered the Sweepstakes with within five (5) days following the winner selection. Bill Blass shall have no liability for a winner's failure to receive notices due to winners' spam, junk e-mail or other security settings or for winners' provision of incorrect or otherwise non-functioning contact information. If the selected winner cannot be contacted, is ineligible, fails to claim the prize within 15 days from the time award notification was sent, or fails to timely return a completed and executed declaration and releases as required, prize may be forfeited and an alternate winner selected.<br>
        The receipt by winner of the prize offered in this Sweepstakes is conditioned upon compliance with any and all federal and state laws and regulations. ANY VIOLATION OF THESE OFFICIAL RULES BY ANY WINNER (AT SPONSOR'S SOLE DISCRETION) WILL RESULT IN SUCH WINNER'S DISQUALIFICATION AS WINNER OF THE SWEEPSTAKES AND ALL PRIVILEGES AS WINNER WILL BE IMMEDIATELY TERMINATED.
      </p>
    </li>
    <li>Rights Granted by You
      <p>By entering this content you understand that Bill Blass, anyone acting on behalf of Bill Blass, or its respective licensees, successors and assigns will have the irrevocable, perpetual, fully paid up right throughout the Universe, where permitted by law, without any further compensation, notice, review or consent to print, publish, broadcast, distribute, and use, worldwide in any media now known or hereafter devised or developed your entry, including, without limitation, the entry and winner's name, portrait, picture, voice, likeness, image or statements about the Sweepstakes, and biographical information as news, publicity or information and for trade, advertising, public relations and promotional purposes and right to reproduce, transmit, display, comment on, edit, modify, alter, exploit, create derivative works based upon, combine it with other works (and all copyrights therein and thereto and all renewals and extensions thereof).</p>
    </li>
    <li>
      Terms
      <p>
        Bill Blass reserves the right, in its sole discretion to cancel, terminate, modify or suspend the Sweepstakes should (in its sole discretion) a virus, bugs, non-authorized human intervention, fraud or other causes beyond its control corrupt or affect the administration, security, fairness or proper conduct of the Sweepstakes. In such case, Bill Blass may select the recipients from all eligible entries received prior to and/or after (if appropriate) the action taken by Bill Blass.  Bill Blass reserves the right at its sole discretion to disqualify any individual who tampers or attempts to tamper with the entry process or the operation of the Sweepstakes or website or violates these Terms &amp; Conditions.<br>
        <br>
        Bill Blass has the right, in its sole discretion, to maintain the integrity of the Sweepstakes, to void votes for any reason, including, but not limited to; multiple entries from the same user from different IP addresses; multiple entries from the same computer in excess of that allowed by sweepstakes rules; or the use of bots, macros or scripts or other technical means for entering.<br>
        <br>
        Any attempt by an entrant to deliberately damage any web site or undermine the legitimate operation of the sweepstakes may be a violation of criminal and civil laws and should such an attempt be made, Bill Blass reserves the right to seek damages from any such person to the fullest extent permitted by law.<br>
        <br>
        Bill Blass and its subsidiaries, affiliates, advertising and promotion agencies, partners, representatives, agents, successors, assigns, employees, officers and directors (sometimes collectively referred to as, "Sponsor Parties") are not responsible for lost, late, misdirected, damaged, stolen, altered, garbled, incorrect, incomplete, delayed or undelivered submissions; all of which will be void. <br>
        <br>
        Sponsor Parties are also not responsible for problems uploading or downloading any information or materials from the Web Site or for any other technical malfunctions of electronic equipment, computer online systems, servers, or providers, computer hardware or software failures, phone lines, failure of any submission to be received by Sponsor on account of technical problems, traffic, congestion on the internet or the Website, or for any other technical problems including telecommunication, miscommunication or failure, and failed, lost, delayed, incomplete, garbled or misdirected communications which may limit participant's ability to participate in this Sweepstakes  <br>
        <br>
        Sponsor Parties are not responsible for any other errors or malfunctions of any kind, whether network, printing, typographical, human or otherwise relating to or in connection with the Sweepstakes, including, without limitation, errors or malfunctions which may occur in connection with the administration of the Sweepstakes the processing or judging of submissions, the incorrect uploading of materials, the announcement of prize winners or in any Sweepstakes-related materials.<br>
        <br>
        By making a submission, a participant acknowledges and agrees that Sponsor may obtain many submissions under this Sweepstakes. Participant acknowledges and agrees that the Sponsor does not have now, nor shall it have in the future, any duty or liability, direct or indirect, vicarious, contributory, or otherwise, with respect to the infringement or protection of any copyright in and to participant's submission.<br>
        <br>
        By participating in the Sweepstakes, participants (i) agree to be bound by these Terms and Conditions, including all eligibility requirements, and (ii) agree to be bound by the decisions of Sponsor, which are final and binding in all matters relating to the Sweepstakes. <br>
        <br>
        Failure to comply with these Terms and Conditions may result in disqualification from the Sweepstakes. <br>
        Sponsor reserves the right permanently to disqualify any person it believes has directly, indirectly, or in concert with any other person, violated these Terms and Conditions, and to void all associated submissions. By uploading a submission, each participant further represents and warrants that they are the person that created the submission and agree that they will provide any documentation reasonably requested by Sponsor to establish such status or authority.<br>
        <br>
        Prior to being confirmed as the Award winner will be required to provide proof of identity, verification of eligibility and compliance with these Terms and Conditions, and will also be required to execute and return an Affidavit of Eligibility and Release of Liability and, unless prohibited by law, a Publicity Release as well as any other documents required by Sponsor, all of which must be completed and/or received fully-executed within fifteen (15) days of their presentation. Upon any failure to properly comply with such requirements, such potential Award winner may be disqualified, the Prize forfeited, and an alternate Award winner may be selected. If any potential Award winner is disqualified for any reason, at Sponsor’s discretion, a runner-up Award winner may be selected for the Prize, at Sponsor’s sole discretion and the original recipient will forfeit all prizes.<br>
        <br>
        By entering the Sweepstakes you agree to receive email newsletters periodically from Bill Blass.  You can opt-out of receiving this communication at any time by clicking the unsubscribe link in the newsletter.
      </p>
    </li>
    <li>Limitation of Liability
      <p>By entering you agree to release and hold (the Sponsor Parties harmless from any claims, liability, illness, injury, death, loss, litigation, claim or damage caused or claimed to be caused, in whole or in part, directly or indirectly, whether caused by negligence or not, from (i) such entrant's participation in the sweepstakes and/or his/her acceptance, possession, use, or misuse of any prize or any portion thereof, (ii) technical failures of any kind, including but not limited to the malfunctioning of any computer, cable, network, hardware or software; (iii) the unavailability or inaccessibility of any transmissions or telephone or Internet service; (iv) unauthorized human intervention in any part of the entry process or the Promotion; (v) electronic or human error which may occur in the administration of the Promotion or the processing of entries; (vi) the administration of the Sweepstakes, (vii) the operation of any web site (including the Web site); or (viii) on account of their use of any of the rights granted herein (including any claims arising out of the use of third party content). Sponsor Parties assume no responsibility for the conduct of any participant.</p>
    </li>
    <li>Disputes
      <p>THIS SWEEPSTAKES IS GOVERNED BY THE LAWS OF THE UNITED STATES OF AMERICA AND NEW YORK STATE, WITHOUT RESPECT TO CONFLICT OF LAW DOCTRINES. As a condition of participating in this Sweepstakes, participant agrees that any and all disputes which cannot be resolved between the parties, and causes of action arising out of or connected with this Sweepstakes, shall be resolved individually, without resort to any form of class action, exclusively before a court located in NEW YORK STATE having jurisdiction. Further, in any such dispute, under no circumstances will participant be permitted to obtain awards for, and hereby waives all rights to claim punitive, incidental, or consequential damages, including reasonable attorneys' fees, other than participant's actual out-of-pocket expenses (i.e. costs associated with entering this Sweepstakes), and participant further waives all rights to have damages multiplied or increased.</p>
    </li>
    <li>Privacy Policy
      <p>Information submitted with an entry is subject to the Privacy Policy stated on the Bill Blass Web Site.  To read the Privacy Policy, billblass.com/privacy, click here.</p>
    </li>
    <li>Winners List
      <p>To obtain a copy of the winner's name or a copy of these Official Rules, mail your request along with a stamped, self-addressed envelope to:  Bill Blass, 236 Fifth Avenue, 8th Floor, New York, NY  10001, United States of America. Requests must be received no later than November 16, 2015.</p>
    </li>
    <li>Sponsor
      <p>The Sponsor of the Sweepstakes is Bill Blass Group LLC, 236 Fifth Avenue, 8th Floor, New York, NY  10001, United States of America.</p>
    </li>
  </ol>
</div>
