<div id="header">
  <div id="logo-container">
    <%= link_to '', root_path, id: 'logo' %>
    <%= link_to '', root_path, id: 'logo-name' %>
  </div>
  <a id="follow-open">Follow</a>
  <a id="contact-open">Contact</a>
  <a id="share-open">Share</a>
</div>
