// Text field/button styles
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="button"],
input[type="submit"],
button,
.btn,
.chosen-single {
	@include box-sizing(border-box);
	@include type-form;
	padding: $form-base-unit 0;
	height: $form-element-height;
  border-width: 0;
  border-radius: 0;
}

// Text field styles
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
  background: transparent;
  color: $white;
  border-bottom: 2px solid $white;
  width: 65%;
  &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgba($white, .5);
    position: relative;
    top: 2px;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: rgba($white, .5);
    position: relative;
    top: 2px;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgba($white, .5);
    position: relative;
    top: 2px;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba($white, .5);
    position: relative;
    top: 2px;
  }
}

// Button styles
.btn {
	display: inline-block;
	text-decoration: none;
}
button,
.btn,
input[type="button"],
input[type="submit"] {
	cursor: pointer;
  color: $white;
	@include transition(background .3s, color .3s, border .3s);
	text-align: center;
  background: transparent;
  border-bottom: 2px solid transparent;
	&:hover {
		background: transparent;
		color: $white;
    border-bottom: 2px solid $white;
	}
}

// Error styles
input.error {
	border-color: $error-color;
	color: $error-color;
}
label.error {
	display: none !important;
}

// Select styles
select {
	display: none !important;
}
.chosen-container {
	width: 100% !important;
}
.hidden {
	display: none;
}

// Checkbox/radio styles
.checkbox,
.radio {
	position: relative;
	label {
		@include user-select(none);
		cursor: pointer;
		margin-left: $form-base-unit * 2;
		@include type-heading3;
		&:before,
		&:after {
			position: absolute;
			content: " ";
			top: 0;
			left: $form-base-unit;
		}
		&:before,
		&:after {
			box-sizing: border-box;
			width: 18px;
			height: 18px;
			border-radius: 18px;
			border: 2px solid $white;
		}
		&:after {
			background: $white;
			opacity: 0;
			@include transition(opacity .1s);
		}
	}
	input {
		visibility: hidden;
		&:checked + label:after {
			opacity: .3;
		}
	}
}

// Radio styles
.radio {
	height: $form-element-height;
	label {
		@include transition(opacity .3s);
		height: $form-element-height;
		border: 2px solid #FFF;
		position: absolute;
		top: 0;
		left: $form-base-unit * 6;
		right: $form-base-unit;
		padding: $form-base-unit * 2;
		margin: 0;
		&:before,
		&:after {
			top: $form-base-unit * 2;
			left: $form-base-unit * -5;
		}
	}
	input {
		& + label {
			opacity: .3;
			&:hover {
				opacity: .5;
			}
		}
		&:checked + label {
			opacity: 1;
		}
	}
}

// Webkit autocomplete styling
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px $background-gradient-from inset;
	-webkit-text-fill-color: $white;
}
