.grid {
	max-width: $grid-width-desktop;
	margin: 0 auto;
	@include transition(height 2s);
	&.filtered {
		margin-top: 80px;
	}
	ul {
		list-style-type: none;
		max-width: $grid-width-desktop;
		li {
			position: relative;
			opacity: 0;
			display: none;
			&.visible {
				opacity: 1;
				display: block;
			}
			a {
				color: $white;
				border: 0;
			}
			a,
			.grid-stack-item-content {
				background-size: contain !important;
				background-repeat: no-repeat !important;
				background-position: center center !important;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				@include transition(background-color .3s);
			}
			&.product,
      &.object {
				cursor: pointer;
				.product-name,
        .object-name {
					@include type-product-name;
					opacity: 0;
					@include transition(opacity .3s);
					@include user-select(none);
					position: absolute;
					width: 200px;
					bottom: 0;
					right: 0;
					left: 50%;
					margin-left: -100px;
					text-align: center;
				}
				&:hover .product-name, &:hover .object-name {
					opacity: 1;
				}
			}
			&.text,
			&.twitter,
			&.quote {
				@include animation(fadein .3s);
				@include transition(opacity .3s);
				.more {
					font-family: $gt-walsheim-regular;
					letter-spacing: 1px;
					text-decoration: none;
					color: $white;
					display: inline-block;
					margin-top: 10px;
					-webkit-font-smoothing: antialiased;
				}
			}
			&.quote {
				.quote:after {
					content: " ";
					display: inline-block;
					width: 270px;
					height: 80px;
					background-image: url(asset-path('signature.png', image));
					opacity: 0.8;
				}
			}
			&.video {
				cursor: pointer;
			}
		}
	}
	&.admin-grid {
		&:hover .grid-stack-item:not([data-gs-locked="yes"]) .grid-stack-item-content {
			background-color: rgba(0, 0, 0, 0.1);
		}
		&:hover .grid-stack-item:not([data-gs-locked="yes"]) .grid-stack-item-content:hover {
			cursor: pointer;
			background-color: rgba(0, 0, 0, 0.3);
		}
		&:hover .grid-stack-item[data-gs-locked="yes"] .grid-stack-item-content {
			background-color: rgba($white, 0.1);
		}
		.ui-resizable-handle {
			width: 20px;
			height: 20px;
			bottom: -5px;
			right: 0;
			background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=');
			background-position: top left;
			background-repeat: no-repeat;
			cursor: se-resize;
			z-index: 20;
		}
	}
}
