#home {
	max-width: $grid-width-desktop;
	margin: 0 auto;
	padding-top: 110px;
	.grids & {
		h1 {
			opacity: 1;
			&#category {
				opacity: .3;
			}
		}
		#save-grid {
			display: block;
		}
	}
	h1 {
		@include user-select(none);
		margin-bottom: 30px;
		position: fixed;
		// stop from stealing scroll focus
		pointer-events: none;
		opacity: 0;
		@include transition(opacity 0.5s);
		&.background {
			opacity: .3;
		}
	}
	h1#capsule {
		top: 200px;
		&.visible:not(.background) {
			opacity: 1;
		}
	}
	h1#category {
		top: 285px;
		&.visible {
			opacity: .3;
		}
	}
	#save-grid {
		text-align: center;
		margin-top: 100px;
		font-size: 36px;
		display: none;
		i {
			display: inline-block;
			cursor: pointer;
			opacity: 1;
			@include transition(opacity .3s);
			&:hover {
				opacity: .5;
			}
		}
	}
}
