#splash {
  max-width: 1000px;
  margin: 0 auto;
  @include clearfix;
  .splash-left {
    width: 58%;
    float: left;
    h1 {
      margin-bottom: 35px;
    }
    p {
      max-width: 400px;
    }
  }
  .splash-right {
    width: 38%;
    float: right;
    img {
      width: 100%;
      height: auto;
    }
  }
}

#number-line {
  max-width: 400px;
  margin-top: 20px;
  ul.numbers {
    width: percentage(22 / 21);
    white-space: nowrap;
    font-size: 0;
    li {
      display: inline-block;
      width: percentage(1 / 21 * 4);
      margin-left: percentage(1 / 21 * -3);
      position: relative;
      left: percentage(1 / 21);
      text-align: center;
      overflow: visible;
      opacity: 0;
      @include type-heading3;
      &:first-child {
        left: percentage(1 / 21 * 3);
        text-align: left;
        opacity: .3;
      }
      &:last-child {
        left: percentage(1 / -21);
        text-align: right;
        opacity: .3;
      }
      &.current {
        opacity: 1;
      }
    }
  }
  ul.line {
    display: table;
    width: percentage(22 / 21);
    li {
      display: table-cell;
      position: relative;
      height: 12px;
      width: percentage(1 / 21);
      left: percentage(1 / -21);
      opacity: .3;
      &.active {
        opacity: 1;
      }
      div {
        background: $white;
      }
      .line-left {
        width: 2px;
        height: 12px;
        position: absolute;
        left: 0;
        top: 0;
      }
      .line-middle {
        height: 2px;
        width: 100%;
        position: absolute;
        left: 0;
        top: 5px;
      }
      .line-right {
        width: 2px;
        height: 8px;
        position: absolute;
        right: 0;
        top: 2px;
      }
      &:nth-child(2n+1) {
        .line-left {
          display: none;
        }
      }
      &:nth-child(2n) {
        .line-left,
        .line-right {
          display: none;
        }
      }
      &:first-child {
        visibility: hidden;
      }
      &:nth-child(2) {
        .line-left {
          display: block;
        }
        .line-right {
          display: none;
        }
      }
      &:last-child {
        .line-left {
          display: none;
        }
        .line-right {
          height: 12px;
          top: 0;
        }
      }
    }
  }
  .scale {
    @include clearfix;
    opacity: .3;
    margin-top: 8px;
    .scale-min {
      float: left;
    }
    .scale-max {
      float: right;
    }
  }
}

#landing {
  p {
    margin-bottom: 45px;
  }
}
#refer {
  .congrats {
    @include type-heading3;
    margin-bottom: 15px;
  }
  .intro {
    margin-bottom: 45px;
  }
  .link {
    margin-bottom: 70px;
    p {
      margin: 20px 0;
    }
    .share {
      @include type-heading3;
      border-width: 0;
      &:hover {
        border-width: 0;
      }
    }
    ul {
      display: inline-block;
      li {
        display: inline-block;
        margin-left: 10px;
        font-size: 1.2em;
        cursor: pointer;
        @include transition(opacity .3s);
        opacity: 1;
        &:hover {
          opacity: .5;
        }
      }
    }
  }
  .rewards {
    @include type-heading3;
  }
}

#bottom {
  margin-top: 55px;
  text-align: center;
  #terms-open {
    display: inline-block;
    margin-bottom: 25px;
    @include type-heading3;
    cursor: pointer;
  }
  #countbox {
    @include type-heading-prelaunch;
    width: 270px; // prevent from wiggling around
    margin: 0 auto;
    text-align: left;
    white-space: nowrap;
  }
}
