* {
	@include box-sizing(border-box);
	&:focus {
		outline: 0;
	}
}
html {
	height: 100%;
	overflow: hidden;
	background-color: $background-color;
}
body {
	height: 100%;
	overflow: auto;
	@include type-body;
	color: $white;
	-webkit-text-size-adjust: 100%;
	&.home {
		background-color: $background-gradient-from;
		&.alt {
			background-color: $background-gradient-to;
		}
		#content {
			@include background-image(linear-gradient(
				$background-gradient-from, $background-gradient-to));
		}
	}
}
#wrap {
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}
#content {
	min-height: 100%;
	padding: $padding-desktop-v * 2 $padding-desktop-h $padding-desktop-v;
	//opacity: 0;
	@include transition(opacity .3s);
	&.visible {
		opacity: 1;
	}
}
h1 {
	@include type-heading-prelaunch;
}
h2 {
	@include type-heading2;
}
h3 {
	@include type-heading3;
}
h4 {
	@include type-heading4;
}
a {
	text-decoration: none;
	color: $white;
	border-bottom: 2px solid transparent;
	@include transition(border-bottom-color .2s);
	&:hover {
		border-bottom-color: $white;
	}
}
.vertical-align-outer {
	display: table;
	height: 100%;
	.vertical-align-inner {
		display: table-cell;
		vertical-align: middle;
	}
}
.sidebar {
	@include sidebar-common;
	width: 25%;
	background: rgba($background-dark, .8);
	top: 0;
	bottom: 0;
	min-width: 300px;
	.close {
		position: absolute;
		top: 35px;
		left: 35px;
		right: 0;
		bottom: 0;
		width: 12px;
		height: 12px;
		background: url(asset-path('close.png', image));
		background-size: 100% 100%;
		cursor: pointer;
	}
	ul {
		position: absolute;
		left: 40px;
		@include transition(top .5s, bottom .5s);
		a {
			line-height: 2.2em;
		}
	}
	a {
		@include type-heading3;
		color: $white;
		text-decoration: none;
		@include transition(color .5s, border-color .2s);
		border: none;
		&.current {
			color: $white;
		}
	}
	&.selected a {
		color: rgba($white, 0.3);
		&:hover,
		&.current {
			color: $white;
		}
	}
	span {
		@include type-heading3;
		color: rgba($white, 0.3);
	}
}
sup {
  vertical-align: super;
  font-size: 8px;
}
