#header {
	@include user-select(none);
	#logo-container {
		overflow: auto;
		#logo {
			display: block;
			width: 40px;
			height: 68px;
			background: url(asset-path('logo.png', image));
			background-size: 100% 100%;
			border: none;
			position: fixed;
			z-index: 70;
			top: 40px;
			left: 50%;
			margin-left: -20px;
		}
		#logo-name {
			display: block;
			width: 127px;
			height: 28px;
			background: url(asset-path('logo-name.png', image));
			background-size: 100% 100%;
			border: none;
			position: fixed;
			z-index: 50;
			top: 124px;
			left: 50%;
			margin-left: -63px;
			//opacity: 0;
			pointer-events: none;
			@include transition(opacity .5s);
			&.visible {
				opacity: 1;
				pointer-events: auto;
			}
		}
	}
	> a {
		@include type-heading3;
		color: $white;
		text-decoration: none;
		@include transition(z-index 0s .5s, opacity .3s, border-color .3s);
		.checkout & {
			display: none;
			&#shop-open,
			&#help-open {
				display: inline;
			}
		}
		.grids & {
			display: none;
		}
	}
	#follow-open,
  #contact-open,
  #share-open {
		position: fixed;
		z-index: 30;
		@include nav-link;
	}
  #follow-open {
		bottom: 25px;
		left: 40px;
	}
  #contact-open {
		bottom: 25px;
		left: 50%;
    width: 62px;
    margin-left: -31px;
	}
	#share-open {
		bottom: 25px;
		right: 40px;
	}
	#subscribe {
		@include sidebar-common;
	}
}
