@media (max-width: 767px) {

	// HEADER

	#header {
		$p: $padding-mobile-h;
		#logo-container {
			#logo {
				top: $p;
				width: 24px;
				height: 40px;
				margin-left: -12px;
			}
			#logo-name {
				display: none;
			}
		}
		#shop-open {
			top: $p;
			left: $p;
		}
		#account {
			display: none;
		}
		#bag {
			top: $p;
			right: $p;
		}
    #contact-open {
			bottom: $p;
		}
		#follow-open {
			bottom: $p;
			left: $p;
		}
		#share-open {
			bottom: $p;
			right: $p;
		}
    #follow {
      padding-left: $p;
    }
    #share {
      padding-right: $p;
    }
    #contact {
      width: 320px;
      margin-left: -160px;
      .contact {
        display: none;
      }
      .contact-mobile {
        display: block;
      }
    }
		.sidebar {
			width: 100%;
			ul {
				left: $p;
			}
		}
	}

	// GLOBAL

	#content {
		padding: $padding-mobile-v $padding-mobile-h;
	}
	.grid, h1 {
		max-width: $grid-width-mobile;
	}
	h1 {
		margin: 0 auto;
	}
	.blank {
		display: none;
	}

  // SPLASH
  #splash {
    max-width: 400px;
    .splash-left {
      width: 100%;
      float: none;
      margin-bottom: 45px;
      input[type="button"], input[type="submit"] {
        float: right;
        width: 20%;
      }
      input[type="text"] {
        width: 80%;
      }
    }
    .splash-right {
      width: 100%;
      float: none;
    }
  }
  #bottom {
    #countbox {
      width: 174px; // keep from jerking around
    }
  }
}
